body {
  background-color: #00C4FF;
  font-family: Arial, sans-serif;
}


.navbar-brand {
  font-size: 1.5rem;
  border-image-slice: 60px;
}

section {
  padding: 3rem 0 2rem;
}
.medsos {
background-color: #c4ffff"
}

.tentang-saya {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.tentang-saya-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tentang-saya-img {
  border-radius: 50%;
  background: #98a7fc;
  overflow: hidden;
  margin-bottom: 2rem;
}
.tentang-saya-img {
  object-fit: cover;
  object-position: center;
}
.tentang-saya-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tentang-saya-text h3 {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--main-color);
}
.tentang-saya-text h3::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -15px;
  width: 20px;
  height: 2px;
  background: var(--main-color);
}
.tentang-saya-text h3::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 2px;
  background: var(--main-color);
}
.tentang-saya-text h2 {
  font-size: 2rem;
  line-height: 4.8rem;
}
